* {
	box-sizing: border-box;
}
body {
  background-color: rgba(236, 240, 241,1.0);
}
.header {
	background-color: #FFF;
}
.container {

	background-color: grey;
}
.textBoxStyle {
	width: 500px;
	height: 200px;
	border: 1px solid black;
	padding: 5px;
	background-color: white;
		&:hover {
			background-color: #C7DEED;
		}

}
.editable {

}
textarea {
	padding: 0;
	outline: 0;
	border: 0;
}



